<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>149347757424-atlrat5pf7d5cqo0u72ja1appcpom4mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149347757424-atlrat5pf7d5cqo0u72ja1appcpom4mq</string>
	<key>API_KEY</key>
	<string>AIzaSyCBWiJT9T7-HxatBTmpz6ve1GagV63ZtSI</string>
	<key>GCM_SENDER_ID</key>
	<string>149347757424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Stanley.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-83fee</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-83fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:149347757424:ios:d00149f2a0e1eabb</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-83fee.firebaseio.com</string>
</dict>
</plist>